.tituloGrande{
    font-size: 3rem; /* Ajusta el tamaño según lo que necesites */
    color: #e6e6e6;
}
.tituloPequeno{
    font-size: 1.5rem; /* Ajusta el tamaño según lo que necesites */
    color: #e6e6e6;
}